body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color:#fff ;
  background: linear-gradient(to right,#56CCF2,#2F80ED);
}

@font-face {
  font-family: "RobotoMono", monospace ;
  src: url("./fonts/RobotoMono-Thin.ttf");
}